@use 'variables' as *;

@font-face {
    font-family:'Avenir Next' ;
    src: url('../../assets/Font/AvenirNextLTPro-Regular.otf'), url('../../assets/Font/Alternative-files/AvenirNextLTPro.ttf')  format ("truetype" );
    font-weight: $regular;
}

@font-face {
    font-family:'Avenir Next' ;
    src: url('../../assets/Font/AvenirNextLTPro-Demi.otf'), url('../../assets/Font/Alternative-files/AvenirNextLTProDemi.ttf')  format ("truetype" );
    font-weight: $demi;
}


@font-face {
    font-family:'Avenir Next' ;
    src: url('../../assets/Font/AvenirNextLTPro-Bold.otf'), url('../../assets/Font/Alternative-files/AvenirNextLTProBold.ttf')  format ("truetype" );
    font-weight: $bold;
}