@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment-form {
  border-bottom: 1px solid $divider-default;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  margin-right: 1.6rem;
  margin-left: 1.6rem;

  @include tablet {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }
  &__avatar {
    flex: 2;
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex: 7;
    padding-left: 1.6rem;

    @include tablet {
      flex-direction: row;
    }
  }
}

.input-field {

  @include tablet {
    align-items:center;
  }

  &__label {
    @include font-type($demi, 1.8rem, 1.3rem, $Silver);

    @include tablet {
      position: absolute;
      top: -1rem;
    }
  }

  &__input {
    @include tablet{
      height: 5rem;
    }
  }
  &__textarea {
    height: 60%;
    @include tablet {
      height: 10rem;
    }
  }
  &__inputs {
    display:flex;
    flex-direction: column;
    gap:1.6rem;
    @include tablet {
      width: 60%;
      gap: 2.4rem;
    }
    
  }
  &__button {

    background-image: url("../../assets/Icons/add_comment.svg");
    background-repeat: no-repeat;
    background-position: 1rem;
    padding-left: clamp(3.5rem, 4rem, 5rem);
    height: 4.5rem;
    @include font-type($demi, 3.2rem, 1.6rem, $White);

    @include tablet {
      width: 40%;
      height: 5rem;
    }
  }
}
