@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__input-field {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__text-area {
    height: 7rem;
  }

  &__cancel{
    text-transform: uppercase;
    text-align: center;
    color: $button-default;
  }
}
