@use "../../styles/partials/mixins" as *; 
@use "../../styles/partials/variables" as *; 

.main-comments {
    flex-direction: column;

    @include tablet {
        margin-right: 0;
        margin-left: 0;
    }
}