@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-size: 10px;
  font-family: Avenir Next;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  height: 3.6rem;
}

button {
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
  background-color: $button-default;
  color: $button-font-default;
  width: 100%;
}

button:hover {
  background-color: $button-hover;
}

.section {
  display: flex;
  flex-direction: column;
  background-color: $main-background; //change this
  gap: 1.6rem;
  margin: 1.6rem 1.6rem 0;

  @include tablet {
    margin: 2.4rem 2.4rem 0;
    gap: 2.4rem;
  }

  @include desktop {
    margin: 2.4rem 2.4rem 0;
    gap: 2.4rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem; // vertical default gap between components - margin
  color: $font-color-default;
}

p {
  @include desktop {
    @include font-type($regular, 2.2rem, 1.4rem, $BrainFlix-DarkBlack);
  }
}

input,
textarea {
  background-color: $Alabaster;
  border: 0.1rem solid $Mercury;
  border-radius: 0.5rem;
  resize: none;
  padding: 1.2rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: $default-form-active;
}

input::placeholder, 
textarea::placeholder{
  font-size: 1.3rem;
  @include tablet {
    font-size: 1.4rem;
  }
  @include desktop{
    font-size: 1.4rem;
  }
}

label {
  color: $Silver;
  text-transform: uppercase;
}

.avatar {
  background-color: $avatar-default;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
}

form {
  display: flex;
}

h1 {
  @include font-type($bold, 3.2rem, 2.4rem, $BrainFlix-DarkBlack);

  @include tablet {
    @include font-type($bold, 4.4rem, 3.3rem, $BrainFlix-DarkBlack);
  }

  @include desktop {
    @include font-type($bold, 4.4rem, 3.3rem, $BrainFlix-DarkBlack);
  }
  margin-top: 0.8rem;
}

p {
  @include font-type($regular, 1.8rem, 1.3rem, $BrainFlix-DarkBlack);

  @include tablet {
    @include font-type($regular, 2.2rem, 1.4rem, $BrainFlix-DarkBlack);
  }

  @include desktop {
    @include font-type($regular, 2.2rem, 1.4rem, $BrainFlix-DarkBlack);
  }
}

.main-section {
  margin-bottom: 1.6rem;

  @include tablet {
    margin-bottom: 2.4rem;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.4rem;
  }

  .main-video-section {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    @include tablet {
      margin: 0;
    }
    @include desktop {
      width: 80%;
      margin: 0;
      border-right: 1px solid $divider-default;
      padding-right: 2.4rem;
    }
  }

  .next-video-section {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    @include tablet {
      margin: 0;
    }
    @include desktop {
      width: 30%;
      margin: 0;
    }
  }
}

a:link {
  text-decoration: none;
}


.section__loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--post {
  background-image: url("./assets/Icons/upload.svg");
  background-repeat: no-repeat;
  background-position: 1rem;
  padding: 0.5rem 1rem;

  @include font-type($demi, 3.2rem, 1.6rem, $White);
  height: 4.5rem;
}
